@import 'colors';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');
body{
    margin: 0;
    font-size: 14px;
    position: relative;
}
*{
  font-family: 'Playfair Display', serif;
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: rgba($color: $dark, $alpha: .4);
    color: $light;
    box-sizing: border-box;
    // opacity: .4;
    .first-logo{
        width: 6rem;
        margin:1.5rem 2rem;
    }
    .navbar-ul{
        display: flex;
        list-style: none;
        li{
            margin:0 5%;
          // .dropdown-ul{
          //   list-style: none;
          //   background-color: $dark;
          //   padding:5px 20px;
          // }
        }
    }
    .book-now-botton{
        margin-left: 30%;
        height: 2.5rem;
        width: 20rem;
        border: none;
    }
    .three {
      margin-left: 2rem;
       width: 23.8%; 
      }
    .col {
      display: flex;
      float:left;
      align-items: center;
      margin: 1% 0 1% 3.6%;
    }
    .col:first-of-type {
      margin-left: 2rem;
    }
    .hamburger{
      margin-left: 1rem;
    }
    .line{
      background-color: $light;
      width: 20px;
      height: 1px;
      margin: 5px 0;
      display: block;
     transition: .5s;
     transform-origin: left;
    }
    .hamburger:hover{
      cursor: pointer;
    }
    hamburger .line{
      width: 50px;
      height: 5px;
      background-color: $light;
      display: block;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    
    #hamburger-1.is-active .line:nth-child(1){
    
      -webkit-transform: translateY(13px) rotate(-45deg);
      -ms-transform: translateY(13px) rotate(-45deg);
      -o-transform: translateY(13px) rotate(-45deg);
      transform: translateY(13px) rotate(-45deg);
    }
    #hamburger-1.is-active .line:nth-child(2){
      opacity: 0;
    }
    #hamburger-1.is-active .line:nth-child(3){
      -webkit-transform: translateY(-13px) rotate(45deg);
      -ms-transform: translateY(-13px) rotate(45deg);
      -o-transform: translateY(-13px) rotate(45deg);
      transform: translateY(-13px) rotate(45deg);
    }
}

.drawer-menu{
  position: fixed;
  right: 0;
  background-color: #111;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 0vw;
  padding-top: 110px;
  line-height: 30px;
  .just-padding{
    padding-left: 20px;
    &>a{
      text-transform: uppercase;
      color: $light;
      text-decoration: none;
      font-size: 16px;
    }
  }
  .border-side{
    display: flex;
    flex-direction: column;
    border-left: 1.5px solid $light;
    margin-left: 10px;
    padding-left: 10px;
    a{
      text-transform: uppercase;
      color: $light;
      text-decoration: none;
      font-size: 13px;
    } 
  }
  
}

@mixin imageslider($url){
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
} 
.firstImg{
  @include imageslider('pic/spa.jpg')
}
.secondImg {
  @include imageslider('pic/slider_n_1.jpg')
}
.thirdImg{
  @include imageslider('pic/slide_n_2_o.jpg ')
}
.slider{
  position: relative;
  overflow:hidden;
  margin:0;
  
  ul{
    margin:0;
    padding:0;
    display:inline-block;
    list-style:none;
  li{
      display:inline-block;
      margin:0;
      padding:0;
      width:100vw;
      height: 100vh;
      text-align:center;
      line-height:300px;
      color:#333;
    }
  }
    .control{
      position: absolute;
      top: 40%;
      z-index: 0;
      display: block;
      padding: 4% 3%;
      width: auto;
      height: auto;
      color: $light;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      opacity: 0.8;
      cursor: pointer;
      &:hover {
        background-color: #2a2a2a;
       
      }
    }
    
    .prev{
      left:0px;
    }
  
    .next{
      right:0px;
    }
  
}
  
.dark-center-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 40vh;
  bottom: 5rem;
  left: 4.5rem;
  background-color: $Primary_dark;
  .date-input{
    display: flex;
    flex-direction: column;
    font-size: $font_medium;
    color: $light;
    align-items: center;
    text-transform: uppercase;
    input{
        background-color: $primary_light;
        border: 1px solid $primary_light;
        padding: 40px 70px;
        margin: 10px;
        font-size: $font_medium;
      }
  }
}

  
  
  